.getintouch-section
{
    padding: 35px 20px;
    min-height: 100px;
    height: 100%;
    border-bottom: 1px solid #e5e0df;
    position: relative;
    
}


.getintouch-section h1
{
    font-weight: 400;
    font-size: 3em;
    line-height: 3;
    color: #FFFFFF;
    z-index: 1;
   
}

.getintouch-section h2
{
    word-wrap: break-word;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.getintouch-section p
{
    word-wrap: break-word;
    font-size: 1.1em;
    line-height: 1;
    color: #FFFFFF;

}

.getintouch-section label
{
    font-size: 1.1em;
    line-height: 2;
    color: #FFFFFF;
}

.getintouch-section input,select
{
    font-size: 1.1em;
    line-height: 2;
    width: 100%;
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #776108;
    border: 1px solid #776108;
    border-radius: 5px;
    outline: none;
}
.getintouch-section select
{
    padding: 17px 15px;
}
input::placeholder {
    color: #FFFFFF;
  }

.getintouch-section button
{
    background-color: #EFC41A;
    color: #000000;
    padding: 10px 15px;
}
.getintouch-section button:hover
{
    background-color: #EFC41A;
    color: #000000;
}

@media (max-width:900px) {

    .getintouch-section
    {
        padding: 10px 5px;
    }

    .getintouch-section h1
    {
        font-size: 1.5em;
    }

    .getintouch-section h2
    {
        font-size: 1.3em;
        line-height: 1;
    }
    .getintouch-section p
    {
        line-height: 1.5;
    }
    
}